fastapi
pydantic
pydantic[email]
uvicorn
pydantic-settings
sqlalchemy
python-multipart
psycopg2-binary
httpx
pytest>=7.0.0
pytest-cov>=4.0.0
flake8>=6.0.0
prometheus-client
prometheus-fastapi-instrumentator
